@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Planilla</h1>
    <a href="https://www.eliteseguridadcr.com/"><img src="https://static.wixstatic.com/media/df539c_0286ffa6c4a14c008f0670e660434114~mv2.png/v1/fill/w_470,h_176,al_c,q_80,usm_0.66_1.00_0.01/df539c_0286ffa6c4a14c008f0670e660434114~mv2.webp" style="width:100%; height:65%" /></a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><i>Gestión de Planilla</i></h2>
        <p>
           Especialistas en servicios de <b>planillas</b>.
        </p>
</div>
</div>
